@import "./globals";

h4 {
    color: $color-light;
}

p {
    font-size: 0.9rem;
    color: $color-light;

    &.lead {
        text-align: center;
        font-style: italic;
    }

    strong {
        font-size: 1rem;
    }
}

hr {
    margin: 40px 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.container {
    padding: 60px 20px;
}

.content {
    position: relative;
}
.section-header {
    text-align: center;
}

.body-colored {
    background-color: $secondary-color;
}

.bullet-less {
    list-style: none;
}
#navbar {
    position: fixed;
    top: 60px;
    right: 60px;
    width: auto;
    height: auto;
    padding: 0;
    z-index: 4;

    .navbar-nav {
        flex-direction: column;
        padding: 0;
    }
    .nav-item {
        padding: 1rem;
        text-align: center;

        &.active {
            background-color: $primary-color;   
        }
    }
    .nav-link {
        color: white;
        font-weight: 500;
    }
}

#introduction {
    position: relative;
    height: 100vh;
    // background-image: url('/img/super-duke.jpg');
    background-color: $white;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    * {
        color: $white !important;
    }
    .container {
        padding-top: 0 !important;
        z-index: 2;
    }

    h1 {
        display: inline-block;
        border-bottom: 1px solid #ffffff78;
    }
    .lead {
        font-size: 2rem;
        font-weight: 200;
        font-style: normal;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-color;
        height: 100%;
        width: 100%;
        opacity: 0.75;
        z-index: 1;
    }
}

#profile {
    .author-img {
        width: 100%;
        max-width: 250px;
        border-radius: 100%;
        border: 10px solid $secondary-color;
    }
    .social {
        margin-top: 1.5rem;
    }
    .social-button {
        height: 15px;
    }
}

#experiences {
    .row {
        margin-top: 1rem;
    }

    h3 {
        margin-bottom: 1rem;
    }
    h4 {
        margin-bottom: 1rem;
        a {
            color: inherit;
        }
    }
}

#abilities {
    li {
        display: flex;
        line-height: 2;
        .skill {
            flex: 3;
            display: inline-block;
            width: 60%;
        }
        .rank {
            flex: 2;
            width: 40%;
            display: flex;
            gap: 3px;
            justify-content: flex-end;
        }
    }
}

#projects {
    .row > div {
        margin-bottom: 1rem;
    }
    .project {
        position: relative;
        overflow: hidden;
        margin: 15px;
        box-shadow: 0px 0px 10px 0px #331b1b85;

        &:hover {
            transition: transform 0.2s ease-in-out;
            transform: scale(1.05);
        }
        p {
            font-size: 0.8rem !important;
        }
    }

    .project-image {
        width: 100%;
        height: auto;
    }
    .project-overview {
        position: absolute;
        width: 100%;
        padding: 1rem;
        background-color: #e33939bf;
        top: 500px;
        line-height: 2;
        height: 100%;
        transition: top 0.3s ease-in-out;
        overflow-y: auto;

        * {
            color: $white !important;
        }

        h4 {
            font-weight: 500;
            border-bottom: 1px solid #ffffff73;
            padding-bottom: 0.2rem;
            margin-bottom: 0.5rem;
            width: fit-content;
        }

        p {
            margin: 0;

            span {
                display: block;
                margin-bottom: 0.3rem;
                border-bottom: 1px solid #ffffff73;
            }
            // line-height: 2.5;
        }

        a {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0;

            img {
                width: 100%;
            }
        }
        .info {
            hr {
                margin: 0.1rem 0;
                border-color: #ffffff73;
            }
        }
    }
}

#contact {
    position: relative;
    min-height: 85vh;
    height: auto;
    background-color: #331b1b;

    * {
        color: white !important;
    }

    hr {
        border-top: 1px solid #ffffff54;
    }

    .handler-row > div {
        text-align: center;
        transition: transform 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    .handler-row {
        img {
            width: 50px;
            border: 1px solid white;
            padding: 10px;
        }
    }
    .reference-attribute {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 60px;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 767px) {
    #introduction {
        h1 {
            font-size: 3.5rem;
        }
    }
    #profile {
        .profile-row {
            flex-direction: column;
            gap: 1rem;
        }
    }
}

@media screen and (max-width: 991px) {
    .profile-row {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 60px 180px;
    }
    p.lead {
        font-size: 21px;
    }
}

@media screen and (min-width: 992px) {
}
